<!DOCTYPE html>
<html>

<head><title>Pokemon</title><link rel="stylesheet" type="text/css" href="style.css" />
</head>

  <img id="image" src="image.png" onload="resizeToMax(this.id)"> </img>
  
<body>
  <img id="image" src="{{profilepic_filename}}" onload="resizeToMax(this.id)"> </img>

  <footer><div class="navbar"><img src="pizza-155771__340.png" img style='height: 5%; width: 5%; object-fit: contain'/><!-- a = link --><a href="/pizza" style="font-size: 30px; text-decoration: none">pizza</a></div></footer>
  <footer><div class="navbar"> <img src="potatoe.png" img style='height: 5%; width: 5%; object-fit: contain'/><!-- a = link --><a href="/potatoe" style="font-size: 30px; text-decoration: none">potato</a></div></footer>
  <footer><div class="navbar"> <img src="fish.png" img style='height: 5%; width: 5%; object-fit: contain'/><!-- a = link --><a href="/fish" style="font-size: 30px; text-decoration: none">fish</a></div></footer>
  <footer><div class="navbar"> <!-- a = link --><a href="/save_eat" style="font-size: 30px; text-decoration: none">stop eat</a></div></footer>


</body>

</html>
