
    <!DOCTYPE html>
    <html>
    <head>
        <title> Results </title>
    </head>
    <body>
         <a href="file://bulbasaur"> bulbasaur </a>
         <a href="file://beedrill"> beedrill </a>
         <a href="file://pidgeotto"> pidgeotto </a>
         <a href="file://raticate"> raticate </a>
         <a href="file://fearow"> fearow </a>
         <a href="file://nidoking"> nidoking </a>
         <a href="file://wigglytuff"> wigglytuff </a>
         <a href="file://oddish"> oddish </a>
         <a href="file://diglett"> diglett </a>
         <a href="file://poliwag"> poliwag </a>
         <a href="file://poliwrath"> poliwrath </a>
         <a href="file://kadabra"> kadabra </a>
         <a href="file://weepinbell"> weepinbell </a>
         <a href="file://tentacruel"> tentacruel </a>
         <a href="file://shellder"> shellder </a>
         <a href="file://cloyster"> cloyster </a>
         <a href="file://hitmonlee"> hitmonlee </a>
         <a href="file://rhyhorn"> rhyhorn </a>
    </body>
    </html>
    