
    <!DOCTYPE html>
    <html>
    <head><title>Pokemon</title><link rel="stylesheet" type="text/css" href="style.css" />
</head>
    <body>
      <img id="image" src="image.png" onload="resizeToMax(this.id)"> </img>

    <footer><a href="/shaw?pokemon_name=bulbasaur" style="font-size: 20px; text-decoration: none"> bulbasaur </a></div></footer>
    <footer><a href="/shaw?pokemon_name=beedrill" style="font-size: 20px; text-decoration: none"> beedrill </a></div></footer>
    <footer><a href="/shaw?pokemon_name=pidgeotto" style="font-size: 20px; text-decoration: none"> pidgeotto </a></div></footer>
    <footer><a href="/shaw?pokemon_name=raticate" style="font-size: 20px; text-decoration: none"> raticate </a></div></footer>
    <footer><a href="/shaw?pokemon_name=fearow" style="font-size: 20px; text-decoration: none"> fearow </a></div></footer>
    <footer><a href="/shaw?pokemon_name=nidoking" style="font-size: 20px; text-decoration: none"> nidoking </a></div></footer>
    <footer><a href="/shaw?pokemon_name=wigglytuff" style="font-size: 20px; text-decoration: none"> wigglytuff </a></div></footer>
    <footer><a href="/shaw?pokemon_name=oddish" style="font-size: 20px; text-decoration: none"> oddish </a></div></footer>
    <footer><a href="/shaw?pokemon_name=diglett" style="font-size: 20px; text-decoration: none"> diglett </a></div></footer>
    <footer><a href="/shaw?pokemon_name=poliwag" style="font-size: 20px; text-decoration: none"> poliwag </a></div></footer>
    <footer><a href="/shaw?pokemon_name=poliwrath" style="font-size: 20px; text-decoration: none"> poliwrath </a></div></footer>
    <footer><a href="/shaw?pokemon_name=kadabra" style="font-size: 20px; text-decoration: none"> kadabra </a></div></footer>
    <footer><a href="/shaw?pokemon_name=weepinbell" style="font-size: 20px; text-decoration: none"> weepinbell </a></div></footer>
    <footer><a href="/shaw?pokemon_name=tentacruel" style="font-size: 20px; text-decoration: none"> tentacruel </a></div></footer>
    <footer><a href="/shaw?pokemon_name=shellder" style="font-size: 20px; text-decoration: none"> shellder </a></div></footer>
    <footer><a href="/shaw?pokemon_name=cloyster" style="font-size: 20px; text-decoration: none"> cloyster </a></div></footer>
    <footer><a href="/shaw?pokemon_name=hitmonlee" style="font-size: 20px; text-decoration: none"> hitmonlee </a></div></footer>
    <footer><a href="/shaw?pokemon_name=rhyhorn" style="font-size: 20px; text-decoration: none"> rhyhorn </a></div></footer>
    <footer></div></footer>
    <footer><a href="/finish_pokimon">choose another trainer</a></div></footer>
    </body>
    
    </html>
    