
    <!DOCTYPE html>
    <html>
    <head>
        <title> POKIPONS </title>
    </head>
    <body><header><h1>choose pokemon</h1> <!-- h1 = Big title --></header>
         <a href="file://bulbasaur"> bulbasaur </a>
         <a href="file://beedrill"> beedrill </a>
         <a href="file://pidgeotto"> pidgeotto </a>
         <a href="file://raticate"> raticate </a>
         <a href="file://fearow"> fearow </a>
         <a href="file://nidoking"> nidoking </a>
         <a href="file://wigglytuff"> wigglytuff </a>
         <a href="file://oddish"> oddish </a>
         <a href="file://diglett"> diglett </a>
         <a href="file://poliwag"> poliwag </a>
         <a href="file://poliwrath"> poliwrath </a>
         <a href="file://kadabra"> kadabra </a>
         <a href="file://weepinbell"> weepinbell </a>
         <a href="file://tentacruel"> tentacruel </a>
         <a href="file://shellder"> shellder </a>
         <a href="file://cloyster"> cloyster </a>
         <a href="file://hitmonlee"> hitmonlee </a>
         <a href="file://rhyhorn"> rhyhorn </a>
    </body>
    </html>
    


    <!DOCTYPE html>
<html>
<!-- This is a comment -->
<head><title>PKIMONS</title>
</head>

<body><header><h1>choose pokemon</h1> <!-- h1 = Big title --></header>
  <title>food.trainer</title>
  <a href="file://${poks}"> ${poks} </a>
  <footer><div class="navbar"> <!-- a = link --><a href="/poks">poks</a></div></footer>
  <footer><div class="navbar"> <!-- a = link --><a href="/food?pokemon_name=bulbasaur">bulbasaur</a></div></footer>
  <footer><div class="navbar"> <!-- a = link --><a href="/food/p2">p2</a></div></footer>
  <footer><div class="navbar"> <!-- a = link --><a href="/food/p3">p3</a></div></footer>
  <footer><div class="navbar"> <!-- a = link --><a href="/food/p4">p4</a></div></footer>
  <footer><div class="navbar"> <!-- a = link --><a href="/food/p5">p5</a></div></footer> 
</body>

</html>
function resizeToMax(id){
    myImage = new Image() 
    var img = document.getElementById(id);
    myImage.src = img.src; 
    if(myImage.width / document.body.clientWidth > myImage.height / document.body.clientHeight){
        img.style.width = "100%";
    } else {
        img.style.height = "100%";
    }
}


<!DOCTYPE html>
    <html>
    <head>
        <title> CHOOSE POKIMON </title>
    </head>
    <body>
    <footer><a href="/food?pokemon_name=bulbasaur"> bulbasaur </a></div></footer>
    <footer><a href="/food?pokemon_name=beedrill"> beedrill </a></div></footer>
    <footer><a href="/food?pokemon_name=pidgeotto"> pidgeotto </a></div></footer>
    <footer><a href="/food?pokemon_name=raticate"> raticate </a></div></footer>
    <footer><a href="/food?pokemon_name=fearow"> fearow </a></div></footer>
    <footer><a href="/food?pokemon_name=nidoking"> nidoking </a></div></footer>
    <footer><a href="/food?pokemon_name=wigglytuff"> wigglytuff </a></div></footer>
    <footer><a href="/food?pokemon_name=oddish"> oddish </a></div></footer>
    <footer><a href="/food?pokemon_name=diglett"> diglett </a></div></footer>
    <footer><a href="/food?pokemon_name=poliwag"> poliwag </a></div></footer>
    <footer><a href="/food?pokemon_name=poliwrath"> poliwrath </a></div></footer>
    <footer><a href="/food?pokemon_name=kadabra"> kadabra </a></div></footer>
    <footer><a href="/food?pokemon_name=weepinbell"> weepinbell </a></div></footer>
    <footer><a href="/food?pokemon_name=tentacruel"> tentacruel </a></div></footer>
    <footer><a href="/food?pokemon_name=shellder"> shellder </a></div></footer>
    <footer><a href="/food?pokemon_name=cloyster"> cloyster </a></div></footer>
    <footer><a href="/food?pokemon_name=hitmonlee"> hitmonlee </a></div></footer>
    <footer><a href="/food?pokemon_name=rhyhorn"> rhyhorn </a></div></footer>
    <footer></footer>
    <footer><a href="/finish_pokimon">choose another trainer</a></div></footer>
    </body>
    
    </html>
    