
    <!DOCTYPE html>
    <html>
    <head><title>Pokemon</title><link rel="stylesheet" type="text/css" href="style.css" />
</head>
    <body>
      <img id="image" src="image.png" onload="resizeToMax(this.id)"> </img>

    <footer><a href="/select_pokemons?trainer=Tierno"  style="font-size: 20px; text-decoration: none"> Tierno </a></div></footer>
    <footer><a href="/select_pokemons?trainer=Archie"  style="font-size: 20px; text-decoration: none"> Archie </a></div></footer>
    <footer><a href="/select_pokemons?trainer=Ash"  style="font-size: 20px; text-decoration: none"> Ash </a></div></footer>
    <footer><a href="/select_pokemons?trainer=Diantha"  style="font-size: 20px; text-decoration: none"> Diantha </a></div></footer>
    <footer><a href="/select_pokemons?trainer=Lt. Surge"  style="font-size: 20px; text-decoration: none"> Lt. Surge </a></div></footer>
    <footer><a href="/select_pokemons?trainer=Bane"  style="font-size: 20px; text-decoration: none"> Bane </a></div></footer>
    <footer><a href="/select_pokemons?trainer=Roxie"  style="font-size: 20px; text-decoration: none"> Roxie </a></div></footer>
    <footer><a href="/select_pokemons?trainer=Giovanni"  style="font-size: 20px; text-decoration: none"> Giovanni </a></div></footer>
    <footer><a href="/select_pokemons?trainer=Candice"  style="font-size: 20px; text-decoration: none"> Candice </a></div></footer>
    <footer><a href="/select_pokemons?trainer=Sabrina"  style="font-size: 20px; text-decoration: none"> Sabrina </a></div></footer>
    <footer><a href="/select_pokemons?trainer=Winona"  style="font-size: 20px; text-decoration: none"> Winona </a></div></footer>
    <footer><a href="/select_pokemons?trainer=Misty"  style="font-size: 20px; text-decoration: none"> Misty </a></div></footer>
    <footer><a href="/select_pokemons?trainer=Leaf"  style="font-size: 20px; text-decoration: none"> Leaf </a></div></footer>
    <footer><a href="/select_pokemons?trainer=Wallace"  style="font-size: 20px; text-decoration: none"> Wallace </a></div></footer>
    <footer><a href="/select_pokemons?trainer=Genevive"  style="font-size: 20px; text-decoration: none"> Genevive </a></div></footer>
    <footer><a href="/select_pokemons?trainer=Lenora"  style="font-size: 20px; text-decoration: none"> Lenora </a></div></footer>
    <footer><a href="/select_pokemons?trainer=Juan"  style="font-size: 20px; text-decoration: none"> Juan </a></div></footer>
    <footer><a href="/select_pokemons?trainer=Skyla"  style="font-size: 20px; text-decoration: none"> Skyla </a></div></footer>
    <footer><a href="/select_pokemons?trainer=Whitney"  style="font-size: 20px; text-decoration: none"> Whitney </a></div></footer>
    <footer><a href="/select_pokemons?trainer=Brock"  style="font-size: 20px; text-decoration: none"> Brock </a></div></footer>
    <footer><a href="/select_pokemons?trainer=Jasmine"  style="font-size: 20px; text-decoration: none"> Jasmine </a></div></footer>
    <footer><a href="/select_pokemons?trainer=Gary"  style="font-size: 20px; text-decoration: none"> Gary </a></div></footer>
    <footer><a href="/select_pokemons?trainer=Drake"  style="font-size: 20px; text-decoration: none"> Drake </a></div></footer>
    <footer><a href="/select_pokemons?trainer=Glacia"  style="font-size: 20px; text-decoration: none"> Glacia </a></div></footer>
    <footer><a href="/select_pokemons?trainer=Plumeria"  style="font-size: 20px; text-decoration: none"> Plumeria </a></div></footer>
    <footer><a href="/select_pokemons?trainer=James"  style="font-size: 20px; text-decoration: none"> James </a></div></footer>
    <footer><a href="/select_pokemons?trainer=Drasna"  style="font-size: 20px; text-decoration: none"> Drasna </a></div></footer>
    <footer><a href="/select_pokemons?trainer=Julia"  style="font-size: 20px; text-decoration: none"> Julia </a></div></footer>
    <footer><a href="/select_pokemons?trainer=Loga"  style="font-size: 20px; text-decoration: none"> Loga </a></div></footer>
    </body>
    </html>
    